@font-face {
    font-family: "Chalk It Up";
    src: url("../fonts/DjbChalkItUp.ttf");
}
body {
    background: url("../images/animal-mix-panorama.jpg") #2e9015;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Chalk It Up", Arial, sans-serif;
    font-size: 1.5em;
}
h1 {
    margin-top: -10px;
    margin-bottom: 5px;
}
.content {
    margin: 0 auto;
    background-image: url("../images/board.png");
    color: #f6f6f6;
    width: 1024px;
    height: 727px;
}
.board-wrapper {
    padding: 5%;
}
.display {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
#word {
    margin-bottom: 3px;
    white-space: pre;
}